body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #333131;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(170, 163, 163, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    color: white;
    font-family: sans-serif;
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea,
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
  }
  
  textarea {
    resize: vertical;
  }
  
  button {
    width: 100%;
    background-color:rgb(219, 154, 24);
    color:white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bolder;
    font-family: sans-serif;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color:rgb(241, 162, 3);
  }
  
  @media (max-width: 500px) {
    .container {
      padding: 20px;
    }
  }
  